<div class="form-group <%= 'form-group-error' if errors.any? %>">
  <label class="form-label" for="<%= id %>"><%= title %></label>

  <% errors.each do | error | %>
    <span class="error-message">
      <%= title %> <%= error %>
    </span>
  <% end %>

  <textarea class="form-control block svc-attachment <%= 'form-control-error' if errors.any? %>" name="onboarding_form[<%= id %>]" id="<%= id %>" rows="10"><%= value %></textarea>
  <div>
    Or attach as file (extensions .pem or .crt permitted)
  </div><input class="attachment svc-attachment" name="<%= id %>-attachment" type="file" accept=".crt, .pem">
  <details>
    <summary>
      <span class="summary">More Information</span>
    </summary>
    <div class="panel panel-border-narrow">
      <%= raw information %>
    </div>
  </details>
</div>