<div class="form-group">
  <label class="form-label" for="<%= id %>"><%= title %></label>
  <textarea class="form-control block svc-attachment" id="onboarding_form[<%= id %>]" name="<%= id %>" rows="10"></textarea>
  <div>
    Or attach as file (extensions .pem or .crt permitted)
  </div><input class="attachment svc-attachment" name="<%= id %>-attachment" type="file">
  <details>
    <summary>
      <span class="summary">More Information</span>
    </summary>
    <div class="panel panel-border-narrow">
      <p><%= raw information %></p>
    </div>
  </details>
</div>