<div class="form-group <%= 'form-group-error' if errors.any? %>">
  <label class="form-label" for="<%= id %>"><%= title %></label>

  <% errors.each do | error | %>
    <span class="error-message">
      <%= title %> <%= error %>
    </span>
  <% end %>

  <input
    class="form-control <%= 'form-control-error' if errors.any? %>"
    id="<%= id %>"
    name="onboarding_form[<%= id %>]"
    required="required"
    type="<%= input_type %>"
    value="<%= value %>">

  <% if defined?(information) %>
    <details>
      <summary>
        <span class="summary">More Information</span>
      </summary>
      <div class="panel panel-border-narrow">
        <%= raw information %>
      </div>
    </details>
  <% end %>
</div>