<% content_for(
       :page_title,
       "#{'Error - ' if (@error || @onboarding_form.errors.any?)}Verify Environment Configuration - GOV.UK"
   )
%>

<% if @error %>
  <div class="error-summary">
    <h2 class="heading-medium error-summary-heading"> There has been a problem </h2>
    <p>Please try again later, or contact the Verify Support Team.</p>
  </div>
<% end %>

<% if @onboarding_form.errors.any? %>
  <div class="error-summary">
    <h2 class="heading-medium error-summary-heading">Unfortunately the form does not seem to be valid.</h2>
    <p>Please fix the errors below.</p>
  </div>
<% end %>

<div class="inner-block">
  <%= form_for @onboarding_form, :url => { :action => 'submit' }, :html => { :id => 'onboarding', :novalidate => 'novalidate', :multipart => true } do |f| %>

    <h1 class="form-title heading-large">Request access to an environment</h1>
    <div class="form-group">
      <p>You must complete ALL required fields and submit your request in a single session, data is not stored if you leave this page before you select the ‘Request Access’ button.</p>
      <p>You should be able to access your environment within 5 working days of submitting your completed form.  Please contact us if you cannot gain access and more than 5 working days have passed since your request.</p>
    </div>

    <div class="form-group">
      <h2 class="heading-small">Select the environment you require</h2>
      <fieldset>
        <legend class="visually-hidden">Select the environment you require</legend>
        <div class="multiple-choice">
          <%= f.radio_button :environment_access, OnboardingForm::ENVIRONMENT_ACCESS_INTEGRATION %>
          <label for="onboarding_form_environment_access_integration-access-request">Integration</label>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :environment_access, OnboardingForm::ENVIRONMENT_ACCESS_PRODUCTION %>
          <label for="onboarding_form_environment_access_production-access-request">Production</label>
        </div>
      </fieldset>
    </div>

    <%= render 'question',
               title: 'Verify service entity ID',
               id: 'service_entity_id',
               errors: @onboarding_form.errors['service_entity_id'],
               input_type: 'url',
               value: @onboarding_form.service_entity_id,
               information: '<p>The Verify service entity ID must be a globally unique URL. When you contact us, our service support
               engineers use this ID to identify your specific service.</p>
               <p>When possible, please make your Verify service entity ID descriptive, by including the name of your
               service and department, for example: </p>
               <p><code>https://{your-service-name}.{your-department}.gov.uk/{test|qa|integration|production}</code></p>
               <p>You must use different entity IDs in the Integration and Production environments.</p>
               '
    %>
    <%= render 'question',
               value: @onboarding_form.matching_service_entity_id,
               errors: @onboarding_form.errors['matching_service_entity_id'],
               title: 'Matching Service Adapter entity ID',
               id: 'matching_service_entity_id',
               input_type: 'url',
               information: '<p>Your Verify Service entity ID and Matching Service Adapter entity IDs must be different.</p>
               <p>Where possible, make your Matching Service Adapter entity ID descriptive, by including the name of your service and department, for example:</p>
               <p><code>https://{your-service-name}.{your-department}.gov.uk/{test|qa|integration|production}/msa</code></p>
               '
    %>
    <h2 class="heading-medium">URLs</h2>
    <p>You must supply details of the URLs you will use for your matching service requests and service assertions.</p>
    <%= render 'question',
               value: @onboarding_form.service_homepage_url,
               errors: @onboarding_form.errors['service_homepage_url'],
               title: 'Service start page URL',
               id: 'service_homepage_url',
               input_type: 'url',
               information: '<p>This is the URL that gives users access to your service.</p>
               <p>Your service start page might be a:
               <ul class="list-bullet">
               <li>page on GOV.UK, for example https://www.gov.uk/update-company-car-details</li>
               <li>similar landing page in your testing environment</li>
               </ul>
               </p>
               <p>Do not host private beta services on GOV.UK. (Refer:
               <a href="https://www.gov.uk/service-manual/design/start-pages">https://www.gov.uk/service-manual/design/start-pages</a>)
               </p>
               '
    %>
    <%= render 'question',
               value: @onboarding_form.assertion_consumer_services_https_url,
               errors: @onboarding_form.errors['assertion_consumer_services_https_url'],
               title: 'Verify SAML response URL',
               id: 'assertion_consumer_services_https_url',
               input_type: 'url',
               information: '<p>To receive Verify SAML responses you must provide a unique URL
               (The Assertion Consumer Service URL), for each connection that you request.
               </p>
               <p>You cannot reuse your existing Integration environment URLs in the Production environment.</p>
               <p>Enter the URL that will receive your Verify SAML responses, for example:</p>
               <p>Integration: <code>https://{your-service-name}.{your-integration-domain}/verify/response</code></p>
               <p>Production: <code>https://{your-service-name}.service.gov.uk/verify/response</code></p>
               '
    %>
    <%= render 'question',
               value: @onboarding_form.matching_service_url,
               errors: @onboarding_form.errors['matching_service_url'],
               title: 'Matching Service: matching URL',
               id: 'matching_service_url',
               input_type: 'url',
               information: '<p>To maintain security, GOV.UK Verify servers only communicate with whitelisted IP addresses.</p>
               <p>Enter the URL that you will use to receive Verify Hub matching service requests, for example:</p>
               <p>Integration: <code>https://{your-integration-domain}/matching-service/POST</code></p>
               <p>Production: <code>https://{your-production-domain}.gov.uk/matching-service/POST</code></p>
               '
    %>
    <%= render 'question',
               value: @onboarding_form.user_account_creation_uri,
               errors: @onboarding_form.errors['user_account_creation_uri'],
               title: 'Matching Service: User account creation URL',
               id: 'user_account_creation_uri',
               input_type: 'url',
               information: '<p>
               If your service needs to create User accounts: enter the URL that will accept
               Verify Hub <em>‘Unknown User Attribute’</em> query requests, for example:
               </p>
               <p>Integration: <code>https://{your-integration-domain}/unknown-user-attribute-query</code></p>
               <p>Production: <code>https://{your-production-domain}.gov.uk/unknown-user-attribute-query</code></p>
               <p>You only need to do this if you have User account creation enabled for your service.</p>
               '
    %>
    <h2 class="heading-medium">IP addresses</h2>
    <p>
      To ensure message are exchanged correctly, between your service and GOV.UK Verify, we need to know some of your IP
      addresses.
    </p>

    <%= render 'question',
               value: @onboarding_form.testing_devices_ips,
               errors: @onboarding_form.errors['testing_devices_ips'],
               title: 'Test device browser IP addresses',
               id: 'testing_devices_ips',
               input_type: 'text',
               information: '
               <p>Within the Integration environment, Verify Hub webpages are only visible to whitelisted IP addresses. The Production environment is open access.</p>
               <p>Your IP addresses should either:
               <ul class="list-bullet">
               <li>be static</li>
               <li>fall within a narrow address range</li>
               </ul>
               </p>
               <p>
               Enter the browser IP address(es) you will use to access the GOV.UK Verify Integration Hub,
               for example:  <code>10.1.2.3,10.1.2.4</code> or <code>10.39.34.15/30</code>.
               </p>
               <p>If more than one address, please enter as a comma separated list.</p>
               '
    %>
    <%= render 'question',
               value: @onboarding_form.matching_service_adapter_ip,
               errors: @onboarding_form.errors['matching_service_adapter_ip'],
               title: 'Matching Service Adapter IP address',
               id: 'matching_service_adapter_ip',
               input_type: 'text',
               information: '<p>The IP address of the domain that will host your Matching Service Adapter</p>'
    %>

    <h2 class="heading-medium">Verify user webpage texts</h2>
    <p>
      Specific signposting webpages are displayed during the user’s journey.
      Please confirm the exact text you would like to appear, in the following locations:
    </p>

    <div class="form-group">
      <%= render 'question',
                 value: @onboarding_form.service_display_name,
                 errors: @onboarding_form.errors['service_display_name'],
                 title: 'Verify service display name',
                 id: 'service_display_name',
                 input_type: 'text',
                 information: '
                 <p>
                 Enter the service name that appears to the user throughout
                 their hub journey. Use a sentence starting with a verb, for example
                 <em>Sign in to your personal tax account</em>,
                 rather than a title like <em>Self Assessment tax return</em>.
                 </p>
                 '
      %>
      <%= render 'question',
                 value: @onboarding_form.other_ways_display_name,
                 errors: @onboarding_form.errors['other_ways_display_name'],
                 title: 'Other ways to... display name',
                 id: 'other_ways_display_name',
                 input_type: 'text',
                 information: '
                 <p>
                 Enter an alternative service name, for example <em>access your personal tax account</em>.
                 This appears on the <em>Other ways to...</em> content in the hub, which appears when a
                 user can’t prove their identity using GOV.UK Verify. If you don’t provide an alternative
                 service name, the GOV.UK Verify team sets it to the service display name by default.
                 </p>
                 '
      %>
      <%= render 'textarea_question',
                 value: @onboarding_form.other_ways_complete_transaction,
                 errors: @onboarding_form.errors['other_ways_complete_transaction'],
                 title: 'Other ways to complete the transaction',
                 id: 'other_ways_complete_transaction',
                 input_type: 'textarea',
                 information: '
                 <p>
                 This content is displayed as text on the Verify Hub “Other ways to apply” page and will be used
                 to guide users to any alternate ways they can access your service.  Please type or paste the valid
                 HTML content that you need to be displayed, including URLs.
                 </p>
                 <p>
                 For example: <em>If you can’t verify your identity using GOV.UK Verify, request Government
                 Gateway user ID and password replacements from HMRC. This can take about 10 working days
                 (or longer if you live abroad). For help, contact the HMRC Online Self Assessment helpline.
                 </em>
                 </p>'
      %>
    </div>

    <h2 class="heading-medium">Certificates</h2>
    <p>
      You must supply GOV.UK Verify with copies of the valid X.509 encryption and signature validation
      certificates you intend to use with your Matching Service Adapter and service.
    </p>
    <div class="panel panel-border-narrow">
      <p>Note: Certificate issuing authorities are environment specific. For the:</p>
      <ul class="list-bullet">
        <li>Integration environment, use the "IDAP Test Certificate Authority"</li>
        <li>Production environment, use the "IDAP Certificate Authority"</li>
      </ul>
    </div>
    <p>See <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/pki/pkiRequestCert.html#pkirequestcert">request certificates</a></p>

    <%= render 'certificate_question',
               value: @onboarding_form.signature_verification_certificate_transaction,
               errors: @onboarding_form.errors['signature_verification_certificate_transaction'],
               title: 'Service signature validation certificate',
               id: 'signature_verification_certificate_transaction',
               input_type: 'textarea',
               information: '
               <p>This certificate will be used to validate SAML messages sent from your service to the GOV.UK Verify Hub.</p>
               <div>It must:
               <ul class="list-bullet">
               <li>be a valid X.509 certificate</li>
               <li>be signed by the correct IDAP certificate authority for Integration or Production</li>
               <li>correspond to your service\'s signing private key</li>
               <li>be different to your Matching Service Adapter signature validation certificate</li>
               </ul>
               </div>
               <p>
               See
               <a href= "http://alphagov.github.io/rp-onboarding-tech-docs/pages/pki/pkiRequestCert.html#pkirequestcert">
               request certificates</a>.
               </p>
               '
    %>
    <%= render 'certificate_question',
               value: @onboarding_form.signature_verification_certificate_match,
               errors: @onboarding_form.errors['signature_verification_certificate_match'],
               title: 'Matching service signature validation certificate',
               id: 'signature_verification_certificate_match',
               input_type: 'textarea',
               information: '
               <p>This certificate will be used to validate SAML responses sent from your Matching
               Service Adapter to the GOV.UK Verify Hub.</p>
               <div>It must:
               <ul class="list-bullet">
               <li>be a valid X.509 certificate</li>
               <li>be signed by the correct IDAP certificate authority for Integration or Production</li>
               <li>correspond to your Matching Service Adapter\'s signing private key</li>
               <li>be different to your service signature validation certificate</li>
               </ul>
               </div>
               <p>
               See
               <a href= "http://alphagov.github.io/rp-onboarding-tech-docs/pages/pki/pkiRequestCert.html#pkirequestcert">
               request certificates</a>.
               </p>
               '
    %>
    <%= render 'certificate_question',
               value: @onboarding_form.encryption_certificate_transaction,
               errors: @onboarding_form.errors['encryption_certificate_transaction'],
               title: 'Service encryption certificate',
               id: 'encryption_certificate_transaction',
               input_type: 'textarea',
               information: '
               <p>This certificate will be used to encrypt SAML assertions sent to your service from the GOV.UK Verify Hub.</p>
               <div>It must:
               <ul class="list-bullet">
               <li>be a valid X.509 certificate</li>
               <li>be signed by the correct IDAP certificate authority for Integration or Production</li>
               <li>correspond to your service\'s encryption private key</li>
               <li>be different to your Matching Service Adapter encryption certificate</li>
               </ul>
               </div>
               <p>
               See
               <a href= "http://alphagov.github.io/rp-onboarding-tech-docs/pages/pki/pkiRequestCert.html#pkirequestcert">
               request certificates</a>.
               </p>
               '
    %>
    <%= render 'certificate_question',
               value: @onboarding_form.encryption_certificate_match,
               errors: @onboarding_form.errors['encryption_certificate_match'],
               title: 'Matching service encryption certificate',
               id: 'encryption_certificate_match',
               input_type: 'textarea',
               information: '
               <p>This certificate will be used to encrypt SAML assertions sent to your Matching
               Service Adapter from the GOV.UK Verify Hub.</p>
               <div>It must:
               <ul class="list-bullet">
               <li>be a valid X.509 certificate</li>
               <li>be signed by the correct IDAP certificate authority for Integration or Production</li>
               <li>correspond to your Matching Service Adapter\'s encryption private key</li>
               <li>be different to your service encryption validation certificate</li>
               </ul>
               </div>
               <p>
               See
               <a href= "http://alphagov.github.io/rp-onboarding-tech-docs/pages/pki/pkiRequestCert.html#pkirequestcert">
               request certificates</a>.
               </p>
               '
    %>

    <h2 class="heading-medium">User account creation attributes</h2>

    <div class="form-group">
      <div class="provide-option">
        <fieldset>
          <legend class="visually-hidden">User account creation attributes</legend>
          <div class="personal-attributes form-group">
            <div class="multiple-choice">
              <%= f.check_box :user_account_first_name %>
              <label for="onboarding_form_user_account_first_name">First name</label>
            </div>
            <div class="multiple-choice">
              <%= f.check_box :user_account_middle_name %>
              <label for="onboarding_form_user_account_middle_name">Middle name</label>
            </div>
            <div class="multiple-choice">
              <%= f.check_box :user_account_surname %>
              <label for="onboarding_form_user_account_surname">Surname</label>
            </div>
            <div class="multiple-choice">
              <%= f.check_box :user_account_dob %>
              <label for="onboarding_form_user_account_dob">Date of birth</label>
            </div>
            <div class="multiple-choice">
              <%= f.check_box :user_account_current_address %>
              <label for="onboarding_form_user_account_current_address">Current address</label>
            </div>
            <div class="multiple-choice">
              <%= f.check_box :user_account_cycle_3 %>
              <label for="onboarding_form_user_account_cycle_3">Cycle 3</label>
            </div>
          </div>
        </fieldset>

        <details>
          <summary>
            <span class="summary">More Information</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>If your service needs to create user accounts, select any attributes you require in the GOV.UK Verify responses.</p>
            <p>See <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/ms/msCua.html#ms-cua">user account creation</a>.</p>
          </div>
        </details>
      </div>
    </div>

    <h2 class="heading-medium">Cycle 3 attribute name</h2>

    <%= render 'question',
               value: @onboarding_form.cycle3_attribute_name,
               errors: @onboarding_form.errors['cycle3_attribute_name'],
               title: 'Requested cycle 3 attribute name (if applicable)',
               id: 'cycle3_attribute_name',
               input_type: 'text',
               information: '
               <p>Cycle 3 matching is an optional service feature that requires
               additional service development. Contact your GOV.UK Verify
               engagement lead for more information.</p>
               <p>See
               <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/ms/msWorks.html#ms-mc3">cycle 3 matching</a>.
               </p>
               '
    %>


    <fieldset class="stub-api-details">

      <h2 class="heading-medium">Manage your Integration environment test user data</h2>

      <p>
        When you develop and test your Integration environment service,
        you will need to manage password-protected pseudo personal data (test user) records.
      </p>

      <p>Please create a username and password to access this feature.</p>

      <p>
        See <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/env/envEndToEndTests.html#createtestusers">create test users</a>.
      </p>

      <%= render 'question',
                 value: @onboarding_form.stub_idp_username,
                 errors: @onboarding_form.errors['stub_idp_username'],
                 title: 'Username',
                 id: 'stub_idp_username',
                 input_type: 'text',
                 information: '
                 <p>
                 You need basic authentication credentials to access and manage the Integration environment
                 test user data API. Please enter your preferred Username.
                 </p>
                 '
      %>
      <%= render 'question',
                 value: @onboarding_form.stub_idp_password,
                 errors: @onboarding_form.errors['stub_idp_password'],
                 title: 'Password',
                 id: 'stub_idp_password',
                 input_type: 'password',
                 information: '
                 <p>
                 You need basic authentication credentials to access and manage the Integration environment
                 test user data API.  Your password must be at least 8 characters long.
                 </p>
                 <p>
                 Please contact <em>idasupport+onboarding@digital.cabinet-office.gov.uk</em> if you
                 need to reset your password.
                 </p>
                 '
      %>

    </fieldset>

    <fieldset class="contact-details">
      <div class="contact-detail-title">
        <h2 class="heading-medium">Your contact details</h2>
      </div>

      <%= render 'question',
                 value: @onboarding_form.contact_details_name,
                 errors: @onboarding_form.errors['contact_details_name'],
                 title: 'Name',
                 id: 'contact_details_name',
                 input_type: 'text' %>
      <%= render 'question',
                 value: @onboarding_form.contact_details_email,
                 errors: @onboarding_form.errors['contact_details_email'],
                 title: 'Email address',
                 id: 'contact_details_email',
                 input_type: 'email' %>
      <%= render 'question',
                 value: @onboarding_form.contact_details_phone,
                 errors: @onboarding_form.errors['contact_details_phone'],
                 title: 'Phone number (optional)',
                 id: 'contact_details_phone',
                 input_type: 'tel' %>
      <%= render 'question',
                 value: @onboarding_form.contact_details_service,
                 errors: @onboarding_form.errors['contact_details_service'],
                 title: 'Service',
                 id: 'contact_details_service',
                 input_type: 'text' %>
      <%= render 'question',
                 value: @onboarding_form.contact_details_department,
                 errors: @onboarding_form.errors['contact_details_department'],
                 title: 'Department or Agency',
                 id: 'contact_details_department',
                 input_type: 'text' %>
      <%= render 'textarea_question',
                 value: @onboarding_form.contact_details_message,
                 errors: @onboarding_form.errors['contact_details_message'],
                 title: 'Any other information you would like to provide (optional)',
                 id: 'contact_details_message'%>

    </fieldset>

    <p>Please allow GOV.UK Verify up to 5 working days to set up your environment.</p>

    <input class="button button-get-started" type="submit" value="Request access">
  <% end %>
</div>

<% content_for :body_end do %>
    <%= javascript_include_tag 'application', integrity: true %>
    <%= javascript_include_tag 'environment_config_form.js', integrity: true %>
<% end %>
