<% content_for(
       :page_title,
       "#{'Error - ' if (@error || @onboarding_form.errors.any?)}Verify Environment Configuration - GOV.UK"
   )
%>

<% if @error %>
  <div class="error-summary">
    <h2 class="heading-medium error-summary-heading"> There has been a problem </h2>
    <p>Please try again later, or contact the Verify Support Team.</p>
  </div>
<% end %>

<% if @onboarding_form.errors.any? %>
  <div class="error-summary">
    <h2 class="heading-medium error-summary-heading">Unfortunately the form does not seem to be valid.</h2>
    <p>Please fix the errors below.</p>
  </div>
<% end %>

<div class="inner-block">
  <%= form_for @onboarding_form, :url => { :action => 'submit' }, :html => { :id => 'onboarding', :novalidate => 'novalidate', :multipart => true } do |f| %>

    <h1 class="form-title heading-large">Request access to an environment</h1>
    <div class="form-group">
      <p>You must complete all required fields and submit your request in a single session.  Data is not stored if you leave this page before you select the ‘Request access’ button.</p>
      <p>You should be able to access your environment within 5 working days of submitting your completed form.  Please contact us if you cannot gain access and more than 5 working days have passed since your request.</p>
    </div>

    <%= render 'service_config' %>
    <%= render :partial => 'msa_config', :locals => {f: f}  if @onboarding_form.is_use_msa? %>
    <%= render 'integration_config' if @onboarding_form.is_integration? %>
    <%= render 'contact_config' %>


    <input class="button button-get-started" type="submit" value="Request access">
  <% end %>
</div>

<% content_for :body_end do %>
    <%= javascript_include_tag 'application', integrity: true %>
    <%= javascript_include_tag 'environment_config_form.js', integrity: true %>
<% end %>
